@model Blogg.Models.Blog

@{
    ViewBag.Title = "Blog Sil";
}

<h2>Blogu Sil</h2>

<h3></h3>
<div>
    <hr />
    <dl class="dl-horizontal well">
        <dd>
            @Html.DisplayFor(model => model.Category.KategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.İcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EklenmeTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Onay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Onay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anasayfa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anasayfa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            <button class="btn dahafazla">
                @Html.ActionLink("Listeye Geri Dön", "Index")
            </button>
        </div>
    }
</div>
